@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    width: 100%;
    height: 100vh;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    position: relative;
    background-color: #0F1115;
}

#root {
    width: 100%;
    background-color: #0F1115;
}



.button {
    border: none;
    color: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 100;
    color: grey;
    cursor: pointer;
}

.button:hover {
    color: black;
}

button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    border: none;
}

p,
h1,
h2,
h3,
h4,
span {
    font-family: "Inter", sans-serif;
    margin: 0px;
}

label {
    color: red;
    font-family: "Inter", sans-serif;
    font-size: smaller;
    padding-left: 20px;
}

input {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: medium;
    border: none;
    box-sizing: border-box;
}

textarea {
    background-color: #F5F5F5;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-size: medium;
    border: none;
    box-sizing: border-box;
    line-height: 20px;
    outline: none;
    resize: none;
}

::-webkit-scrollbar {
    display: none;
}

.addState_cover {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    /* transition: 700ms ease-in; */
    display: flex;
    justify-content: center;
    animation: fadeIn 200ms ease-in forwards;
    position: absolute;
    top: 0;
    left: 0;
}

.category_cover {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #0F1115;
    animation: categoryFadeIn 200ms ease-in forwards;
}

.checkOut_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation: cartFadeIn 300ms ease-in forwards;

}


@keyframes cartFadeIn {
    0% {}

    100% {
        backdrop-filter: blur(3px);
        background-color: rgb(0, 0, 0, 0.9);
    }
}

@keyframes categoryFadeIn {
    0% {}

    100% {
        background-color: #0F1115;
    }
}


@keyframes fadeIn {
    0% {}

    100% {
        backdrop-filter: blur(3px);
        background-color: rgb(0, 0, 0, 0.7);
    }
}

@keyframes enter {
    0% {
        bottom: 10px;
        opacity: 0;
        display: none;

    }

    100% {
        bottom: 0px;
        opacity: 1;
        display: block;
    }
}

@keyframes leave {
    0% {
        bottom: 0px;
        opacity: 1;
        display: block;

    }

    100% {
        bottom: 10px;
        opacity: 0;
        display: none;

    }
}


@keyframes slideIn {
    0% {
        top: 0px;
        opacity: 0;
    }

    5% {
        top: 100px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes slideside {
    0% {
        left: 0px;
        opacity: 0;
    }

    5% {
        left: 100px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes animateIN {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.slide_in {
    animation: animateIN 500ms ease-out forwards;
}



/* SLIDES CONFIG */

/* Base bullet */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #4F8CFF;
    opacity: 0.25;
    border-radius: 999px;
    transition: all 0.3s ease;
}

/* Active bullet (main one) */
.swiper-pagination-bullet-active {
    width: 24px;
    /* wider */
    opacity: 1;
    background-color: #3B74E6;
}

/* Next & previous bullets */
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
    opacity: 0.5;
    background-color: #4F8CFF;
}

/* Optional: hide bullets far away */
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active,
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next) {
    opacity: 0.19;
}