.Buisness_Layout {}

.business_header {
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 20px 40px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 1px 5px lightgray;
}

.business_header span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.business_header p {
    margin: auto 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.buisness_actions {
    display: flex;
}

.buisness_links {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.buisness_links a {
    text-decoration: none;
    color: black;
}

/* Card component */
.cards {
    padding: 0px 40px;
    height: 600px;
    width: max-content;
    overflow: auto;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card_div {
    width: 700px;
    margin: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: -3px -3px 10px lightgrey;
}

.card_header {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    box-shadow: 0px 1px 5px lightgray;
    padding: 10px 20px;
}

.card_header span {
    margin: 10px 0px;
    font-size: x-large;
    font-weight: 300;
}

.card_header p {
    margin: 0px;
}

.card_ratings {
    display: flex;
    align-items: center;
}

.card_ratings span {
    color: black;
    font-size: large;
}

.card_ratings p {
    margin: 5px 10px;
}

.card_bio {
    padding: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;

}

.card_link_div {
    display: flex;
    align-items: center;
    padding: 0px 20px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
}

.card_link_div p {
    margin-right: 20px;
}

.card_button {
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
    height: 40px;
}

.menulink {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 70px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    transition: 500ms;
    cursor: pointer;
}

.menulink:hover {
    transform: scaleX(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}