.busform_section{
 animation: enter 200ms ease-in forwards;
 position: relative;
}
.inputDiv {
    width: 100%;
    margin: 10px;
    position: relative;
    min-width: 200px;
    color: #F5F7FA;
}

.inputDiv p {
    margin: 5px 0px;
    font-size: medium;
    font-weight: 400;
}

.inputDiv input,
.inputDiv textarea {
    background-color: #181B22;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 0px;
    font-size: medium;
    border: none;
    box-sizing: border-box;
    word-break: break-all;
    outline: none;
}

.dropdown_menu {
    background-color: #181B22;
    font-family: "Inter", sans-serif;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px solid #2A2F3A    ;
}

.dropdown_menu::-webkit-scrollbar {
    display: none;
}

.dropdown_menu ul {
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
}

.dropdown_menu ul li {
    padding: 10px;
}

.dropdown_menu ul li:hover {
    background-color: rgba(59, 116, 230,0.3);
    border-radius: 5px;
}

.submit_button {
    background-color: #4F8CFF;
    color: #F5F7FA;
    border-radius: 10px;
    padding: 10px 10px;
    width: 50%;
    margin: 30px 0px;
    min-width: 200px;
}

@keyframes enter {
    0%{
     opacity: 0;
     bottom: 20px;
    }
    100%{
    opacity: 1;
    bottom: 0px;
    }
}