.cards {
    padding: 0px 40px;
    height: max-content;
    width: max-content;
    overflow: auto;
    display: flex;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card_div {
    margin: 20px 10px;
    padding-bottom: 20px;
    cursor: 'pointer';
    position: relative;
    border-radius: 10px;
    transition: 1000ms ease-out;
    background-color: black;

    /* border: 1px solid lightgray; */
}

.card_div:hover {
    transform: scale(1.05);
    border: 1px solid #FF7A00;
    box-shadow: 0px 0px 20px rgba(64, 62, 62, 0.5);
}

.card_pic {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.card_header {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    padding: 0px 0px 10px;
}

.card_header span {
    font-size: larger;
    font-weight: 300;
}

.card_header p {
    margin: 0px;
}

.card_ratings {
    display: flex;
    align-items: center;
}

.card_ratings span {
    color: black;
    font-size: large;
}

.card_ratings p {
    margin: 5px 10px;
}

.card_category {
    padding: 0px 20px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    color: gray;
    font-size: large;

}

.card_link_div {
    display: flex;
    align-items: center;
    padding: 0px 0px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
}

.card_link_div p {
    margin-right: 20px;
}

.card_button {
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
    height: 40px;
}