.category_section {
    margin-top: 30px;
    position: relative;
}
.header {
    opacity: 0;
    margin-bottom: 40px;
}

.categories {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    opacity: 0;

}

.category {
    border-radius: 10px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    background-color: #0F1115;
    font-size: medium;
    transition: 500ms;
    padding: 20px;
}

.category:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #2A3E66;
}

.category img {
    width: 100%;
    height: 80%;
    border-radius: 100%;
}

.category_text {
    width: max-content;
    /* margin: 20px auto; */
    color: white;
    font-weight: 700;

}