.Intro_div {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #0F1115;
}

.intro_text {
    position: relative;
    width: max-content;
    text-align: center;
    height: 300px;
    color: white;
    font-size: x-large;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 100px 20px;
}

.text_header {
    margin: 0px;
    margin-bottom: 10px;
}

.text_div {
    padding-top: 20px;
}

.first_entry {
    position: relative;
    animation: slideIn 500ms ease-out forwards;
}

.second_entry {
    position: relative;
    animation: slideside 500ms ease-out 500ms forwards;
}

.third_entry {
    position: relative;
    margin-top: 40px;
    animation: slideIn 700ms ease-in 0.2s forwards;
}

.search_div {
    margin: 40px auto 0px;
    height: 70px;
    width: 80%;
    position: relative;
    display: flex;
    opacity: 0;
}
.hidden{
    opacity: 0;
}

#intro_search:hover {
    outline: none;
}


.intro_text p {
    margin: 0px;
}

.searchIcon {
    /* background-color: black; */
    border-radius: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    bottom: 20%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.AddButton {
    background-color: #4F8CFF;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    color: white;
    margin-top: 20px;
    transition: 300ms ease-out;
}

.AddButton:hover {
    transform: scale(1.05);
}