.My_business_section {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 50;
    background-color: #0F1115;
}



.navbar {
    width: 300px;
    height: 100%;
    border-right: 1px solid #2A2F3A;
    box-sizing: border-box;
    position: relative;
    background-color: #0F1115;
}

.navbar_back_button {
    color: #F5F5F5;
    cursor: pointer;
}

.navbar_back_button:hover {
    color: #3B74E6
}

.navbar_header_container {
    border-bottom: 1px solid #2A2F3A;
    padding: 10px 10px 20px;
    width: 100%;
    box-sizing: border-box;

}

.navbar_header {
    font-weight: 500;
    width: max-content;
    color: #F5F7FA;
    font-family: "Inter", sans-serif;
    margin: 10px auto;
}

.navbar_header_sub {
    font-weight: 300;
    font-size: small;
    color: #F5F7FA;
    padding: 0px;
    text-align: center;
}

.navbar_links {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar_link {
    border-radius: 5px;
    font-weight: 500;
    margin: 10px 5px;
    cursor: default;
    padding: 10px;
    width: 100%;
    color: #F5F7FA;
    box-sizing: border-box;
    transition: 100ms;
}

.navbar_link:hover {
    background-color: rgba(59, 116, 230, 0.3);
}

.navbar_footer_container {
    border-top: 1px solid black;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding: 10px 10px 20px;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.navbar_footer {
    font-weight: 500;
    width: max-content;
    color: #F5F7FA;
    margin: 10px auto;
}

.navbar_footer_sub {
    font-weight: 500;
    width: max-content;
    color: #F5F7FA;
    margin: 10px auto;
}




/* styles business page */
.businessPage {
    flex: 1;
    overflow: auto;
    position: relative;
}


.title {
    padding: 20px 60px;
    width: 100%;
    box-sizing: border-box;
    color: #F5F7FA;
    z-index: 50;
    border-bottom: 1px solid #2A2F3A;
    font-family: "Inter", sans-serif;
    font-size: larger;
}

.businessPage_data {
    width: 100%;
    padding: 40px 80px;
    box-sizing: border-box;
}

.businessPage_intro {
    font-family: "Inter", sans-serif;
    width: max-content;
}

.businessPage_intro h2 {
    margin: 10px 0px;
    font-weight: 600;
    color: #F5F7FA;
}

.businessPage_intro p {
    font-size: large;
    color: #F5F7FA;
}

.dashboard_datasection {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.dashboard_datadiv {
    width: 300px;
    height: 150px;
    border: 1px solid #2A2F3A;
    padding: 20px;
    margin: 20px 0px;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    position: relative;

}

.dashboard_datadiv h4 {
    color: #F5F7FA;
}

.dashboard_datadiv p {
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    color: #F5F7FA;
}





/* order */

.order_datasection {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.order_datadiv {
    width: 200px;
    height: 150px;
    border: 1px solid #2A2F3A;
    padding: 20px;
    font-family: "Inter", sans-serif;
    margin: 20px 0px;
    border-radius: 20px;
    position: relative;
}

.order_datadiv h4 {
    color: #F5F7FA;
}

.order_datadiv p {
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    color: #F5F7FA;
}

.order_overview {
    border: 1px solid #2A2F3A;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    font-family: "Inter", sans-serif;
    padding: 40px;
    margin: 40px 0px;
}

.order_overview h2 {
    font-weight: 300;
    color: #F5F7FA;
    margin-bottom: 20px;

}

.order_ordermenu {
    width: 100%;
    height: 100%;
}

.order_ordermenu section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #2A2F3A;
}


.order_ordermenu div div:hover {
    cursor: pointer;
    background-color: rgba(59, 116, 230, 0.3);
}

.order_ordermenu section span {
    padding: 10px;
}




/* profile */

.profile_overview {
    border: 1px solid #2A2F3A;
    border-radius: 20px;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    height: max-content;
    font-family: "Inter", sans-serif;
    padding: 40px;
    margin: 40px 0px;
}

.profile_overview p {
    color: #F5F7FA;
    font-size: large;
    margin-bottom: 40px;
}

.profile_overview h2 {
    color: #F5F7FA;
    margin-bottom: 10px;
    font-weight: 300;
}

.profile_info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    color: #F5F7FA
}

.profile_info div {
    margin: 10px 0px;
}

.profile_info div h4 {
    font-weight: 500;
}

.profile_info div textarea {
    height: 100px;
}

.profile_input {
    background-color: #181B22;
    border-radius: 10px;
    border: 1px solid #2A2F3A;
    width: 100%;
    padding: 10px;
    margin: 0px;
    font-size: medium;
    padding-right: 30px;
    outline:none;
}

.profile_input:focus {
    outline: 2px solid #4F8CFF;
}

.dropdown_menu {
    background-color: white;
    width: 100%;
    font-family: "Inter", sans-serif;
    position: absolute;
    z-index: 2;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2A2F3A;
}

.dropdown_menu::-webkit-scrollbar {
    display: none;
}

.dropdown_menu ul {
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid #2A2F3A;
    width: 100%;
}

.dropdown_menu ul li {
    padding: 10px;
}

.dropdown_menu ul li:hover {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.profile_text {
    background-color: #181B22;
    border: 1px solid #2A2F3A;
    border-radius: 10px;
    width: 100%;
    min-width: 230px;
    height: auto;
    resize: none;
    word-break: keep-all;
    padding: 10px;
    margin: 0px;
    font-size: medium;
    word-break: break-all;
    padding-right: 25px;
}

.profile_text::-webkit-scrollbar {
    display: none;
}

.profile_logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileLogo_label {
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F5F5F5;
    display: block;
    margin: 10px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.Logo {
    display: none;
}

.logo_button {
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    width: 80%;
    min-width: 200px;
    font-family: "Comfortaa", sans-serif;
    border: none;
}




/* product  */
.product_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addProfile_button {
    color: #F5F7FA;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4F8CFF;
    width: 150px;
    height: max-content;
    min-width: 150px;
    font-family: "Comfortaa", sans-serif;
    transition: 200ms;
}

.addProfile_button:hover {
    background-color: #3B74E6;
}

.product_card_div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0px;
}

.product_card {
    width: 350px;
    height: 450px;
    border: 1px solid #2A2F3A;
    border-radius: 20px;
    margin: 20px 0px;
    position: relative;
    background-color: #181B22;
}

.product_cardImg {
    width: 100%;
    height: 50%;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}

.product_cardInfo {
    font-family: "Comfortaa", sans-serif;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product_cardInfo div {
    flex: 1;
}

.product_cardInfo h2 {
    color: white;
    font-weight: 300;
    margin: 0px;
}

.product_cardInfo p {
    color: white;
    font-size: medium;
    margin-top: 10px;
}

.product_cardInfo h1 {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 30px;
}

.product_price {
    font-family: "Comfortaa", sans-serif;
    margin: 0px 30px;
}

.product_price h2 {
    font-weight: 500;
    font-size: medium;
    color: white
}

.product_price p {
    margin: 0px;
    color: grey;
    font-size: small;
}


.notification_div {
    border: 1px solid #2A2F3A;
    border-radius: 20px;
    background-color: #181B22;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    font-family: "Inter", sans-serif;
    padding: 40px;
    margin: 40px 0px;
}


.notification_div h2,
h3 {
    font-weight: 300;
    color: #F5F7FA;
    margin-bottom: 10px;

}

.notification_div p {
    color: #F5F7FA;
    font-size: x-large;
    margin-bottom: 40px;
}

.notification {
    padding: 20px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #2A2F3A;
}

.notification:hover {
    cursor: pointer;
    background-color: rgba(59, 116, 230, 0.3);
}