.fixednavBar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: min-content;
    padding: 10px 40px;
    z-index: 2;
    background-color: transparent;
}

.scrollnavbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: min-content;
    width: 100%;
    padding: 10px 40px 5px;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.LogoName {
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    margin-right: 30px;
}

.nav_divs {
    display: flex;
    width: auto;
    flex-grow: 1;
    flex-basis: 0.5;
    justify-content: space-evenly;
    height: max-content;
    margin-top: auto;
    font-size: medium;
}


.nav_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav_search {
    height: 30px;
    margin: auto;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: auto 10px;
    padding: 4px;
    color: white;
}

.links div:first {
    text-decoration: none;
    font-size: small;
    position: relative;

}

.navigation_link {
    position: relative;
    display: block;
    padding: 0px 5px 5px;
    margin: 0 5px;
    transition: 500ms;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: small;
}

.navigation_link.active {
    transform: scale(1.1);
    transition: 500ms ease-out;
}

.navigation_link::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    margin: 5px auto 0px;
    transition: width 0.3s ease;
}

.navigation_link.active::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 5px;
}

.navigation_link:hover {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    right: 0;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: small;
}

.vbh_div {
    color: black;
    height: 200px;
    width: 250px;
    background-color: white;
}

.vbh_div div {
    color: black;
    margin: 10px;
}
.businesslink :hover{
    background-color: lightgray;
}

.navlink_dropdown {
    height: max-content;
    background-color: white;
    width: 200px;
    padding: 10px;
}


.navlink_dropdown div {
    color: black;
    height: max-content;
    padding: 10px 20px;
}

.navlink_dropdown div:hover {
    background-color: lightgrey;
}

.nav_buttons {
    display: flex;
    width: max-content;
    transition: 1500ms;
    justify-self: flex-end;
    /* margin-left: auto; */
    margin-right: 10px;
}

.nav_buttons span {
    color: gray;
    margin: auto;
}

.nav_link {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    color: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 100;
    padding: 10px 0px;
    text-decoration: none;
    transition: 300ms;
}

.linkcomp {
    text-decoration: none;
}

.nav_link:hover {
    background-color: black;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link.white button {
    color: white;
}
a{
    text-decoration: none;
}