.fixednavBar {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    height: min-content;
    padding: 10px 40px;
    z-index: 2;
    background-color: transparent;
    box-sizing: border-box;

}

.scrollnavbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: min-content;
    width: 100%;
    padding: 10px 40px 5px;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    box-sizing: border-box;
}

.LogoName {
    font-family: "Comfortaa", sans-serif;
    font-weight: 900;
    color: white;
}

.title_tilted {
    color: #4F8CFF;
    display: inline-block;
    animation: tilt 11s ease infinite
}

.intro_search_div {
    width: 300px;
    display: flex;
    align-items: center;
}

#intro_search {
    outline: none;
    width: 100%;
    margin: 0px 10px 0px 30px;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #F5F7FA;
    border: 1px solid #2A2F3A;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0, 0.4);
    font-size: small;
}

#intro_search:focus {
    border: 2px solid #4F8CFF;
    background-color: rgb(255, 255, 255, 0.1);

}

#intro_search::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #A6ACB8;
    font-size: small;
}

.nav_divs {
    display: flex;
    width: auto;
    flex-grow: 1;
    flex-basis: 0.5;
    justify-content: space-evenly;
    height: max-content;
    margin-top: auto;
    font-size: medium;
}


.nav_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav_search {
    height: 30px;
    margin: auto;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: auto 10px;
    padding: 4px;
    color: white;
}

.links div:first {
    text-decoration: none;
    font-size: small;
    position: relative;

}

.navigation_link {
    position: relative;
    display: block;
    padding: 0px 5px 5px;
    margin: 0 5px;
    transition: 500ms;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: small;
}

.navigation_link.active {
    transform: scale(1.1);
    transition: 500ms ease-out;
}

.navigation_link::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    margin: 5px auto 0px;
    transition: width 0.3s ease;
}

.navigation_link.active::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 5px;
}

.navigation_link:hover {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    right: 0;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: small;
}

.vbh_div {
    color: black;
    height: 200px;
    width: 250px;
    background-color: white;
}

.vbh_div div {
    color: black;
    margin: 10px;
}

.businesslink p {
    padding: 10px;
    margin-bottom: 5px;
}

.businesslink:hover {
    color: #4F8CFF;
}

.navlink_dropdown {
    height: max-content;
    background-color: #181B22;
    border-radius: 10px;
    border: 1px solid #2A2F3A;
    position: relative;
    width: 300px;
    padding: 10px;
    /* opacity: 0; */
}

.enter {
    animation: enter 200ms ease-out forwards;
}

.leave {
    animation: leave 200ms ease-out forwards;
}


.navlink_dropdown div {
    color: #F5F7FA;
    height: max-content;
    /* padding: 10px; */
}


.nav_buttons {
    display: flex;
    width: max-content;
    transition: 1500ms;
    justify-self: flex-end;
    /* margin-left: auto; */
    margin-right: 10px;
}

.nav_buttons span {
    color: gray;
    margin: auto;
}

.nav_link {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    color: none;
    background-color: transparent;
    font-size: medium;
    font-weight: 100;
    padding: 10px 0px;
    text-decoration: none;
    transition: 300ms;
}

.linkcomp {
    text-decoration: none;
}

.nav_link:hover {
    background-color: black;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link.white button {
    color: white;
}

a {
    text-decoration: none;
}

@keyframes tilt {
    0% {
        transform: rotate(0);
    }

    45% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(33deg);
    }

    55% {
        transform: rotate(-33deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}