.signUp_container {
    width: 100%;
    height: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #121212;
}

.signUp {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: max-content;
    border: none;
    border-radius: 20px;
    background-color: black;
    margin: 30px;
    overflow:auto;


}

.close {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: larger;
    margin: 0px;
    cursor: pointer;
}

.signup_intro {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    color: white;
    border-radius: 10px 10px 00px 0px;
    background-color: #FF7A00;
    padding: 10px;
}

.signup_intro h1 {
    font-weight: 500;
    margin: 0px;
}

.signup_intro p {
    color: grey;
    margin: 20px 0px;
}

.signup_form {
    overflow: auto;
    padding: 30px;
    height: 350px;

}

.first_page .signup_input::placeholder {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    color: gray;
}

.first_page {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.signup_div {
    width: 100%;
    margin: 10px 0px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: medium;
    color: black;
    color: white;
}

.signup_div_group {
    width: 45%;
    margin: 10px 0px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: medium;
    color: black;
    color: white;
}

.signup_input {
    background-color: #121212;
    border-radius: 10px;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: medium;
    border: none;
    box-sizing: border-box;
    outline: none;
}
.signup_input

.signup_input:focus {
    outline: 2px solid #FF7A00;
    background-color: black;

}

.submit_button_div {
    margin: 20px 0px;
    width: 100%;
}






.login_form {
    margin-top: 20px;
}

.lineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    font-family: "Comfortaa", sans-serif;

}

.googlelinkDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.googlelinkDiv div {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #FF7A00;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: smaller;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.googlelinkDiv div img {
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20%;
}


.login_button {
    background-color: #FF7A00;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
}


/* Link */
.signup_link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup_link p {
    margin: 0px;
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
}