.slide_section {
    margin: 0px 0px 100px;
    position: relative;
}

.slide_header_container {
    opacity: 0;
}

.slide_header {
    margin: 20px 0px;
    color: #F5F7FA;
    width: 100%;
    font-size: xx-large;
    box-sizing: border-box;
}

.slide_sub {
    color: #A6ACB8;
    margin-bottom: 50px;
}

.slide {
    width: 400px;
    margin: 20px 10px;
    height: 200px;
    display: flex;
    align-items: end;
    font-family: "Nunito Sans", sans-serif;
}

.swiper {
    display: block;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 0px 50px;

}

.slide_cards {
    position: relative;
    opacity: 0;
}


.prev_button {
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    color: #A6ACB8;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: larger;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 2;
    opacity: 0.75;
    transition: 500ms
}

.prev_button:hover {
    opacity: 1
}

.next_button {
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: larger;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 2;
    opacity: 0.75;
    transition: 500ms;
}

.next_button:hover {
    opacity: 1
}

/* intro_slides */
.card_div {
    width: 100%;
    height: 100%;
    cursor: 'pointer';
    position: relative;
    transition: 500ms ease-out;
    animation: slideside 500ms ease-in forwards;
}
.image {
    mask-image:
        linear-gradient(to right, transparent 0%, #0F1115 25%),
        linear-gradient(to bottom, transparent 0%, #0F1115 25%),
        linear-gradient(to left, transparent 0%, #0F1115 25%),
        linear-gradient(to top, transparent 0%, #0F1115 50%);
    mask-composite: intersect;
}